<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/ServPro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Welcome, Professional! </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
        <h1 class="case1 center" style="background-color:none; text-align:center;"> <img src="/static/logo.jpeg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"> ServPro </h1>
          <div class="collapse navbar-collapse" id="admn">
            <ul class="nav nav-underline">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/professional/{{username}}">Home</a>
              </li> <b style="font-size: 25px; color:rgb(42, 54, 185)"> | </b>
              <li class="nav-item">
                <a class="nav-link" href="/professional_summary/{{username}}">Analysis</a>
              </li><b style="font-size: 25px; color:rgb(42, 54, 185)"> | </b>
              <li class="nav-item">
                <a class="nav-link" href="/professional_profile/{{prof_id}}/{{username}}">Profile</a>
              </li><b style="font-size: 25px; color:rgb(42, 54, 185)"> | </b>
              <li class="nav-item">
                <a class="nav-link" href="/login">Logout</a>
              </li>
            </ul>  
          </div>
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" action="/professional_search/{{username}}" method="POST">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button type="button" class="btn btn-outline-primary">Search</button>
              </form>
            </div>
          </nav>
        </div>
    </nav><br>
<h3 style="text-align: center"> <bold> MY PROFILE</bold></h3>    
    <div class="case2">  
      <form action="/professional_profile/{{prof_id}}/{{username}}" method="POST">  
        {% if prof %}   
        <div class="row g-3">
            <div class="col">
              <label for="fname" class="form-label">First Name</label>
              <input type="text"  name="fname" class="form-control" id="fname" value="{{prof.fname}}" required>
            </div>
            <div class="col">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" name="lname" class="form-control" id="lname" value="{{prof.lname}}" required>
            </div>
        </div>  
        <div class="mb-3">
          <label for="servexp" class="form-label"> Service Expertise: </label> <br>
          <input type="text"  name="fname" class="form-control" id="fname"disabled="disabled" value="{{servexp}}" required>
        </div>
        <div class="mb-3">
            <label for="exp" class="form-label">Experience (in years)</label>
            <input type="number" id="exp" name="exp" class="form-control" value="{{prof.exp}}" required>
        </div>
        <label for="docs" class="form-label"> Suitable Documents: (One combined pdf) </label>
        <div class="input-group mb-3"> 
            <input type="file" accept="application/pdf" class="form-control" disabled name="docs" id="docs" value="{{prof.docs}}" >
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Contact Number</label>
            <input type="number" id="phone" name="phone" class="form-control" value="{{prof.phone}}" required>
        </div>  
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" name="address" class="form-control" value="{{prof.address}}" required>
        </div>
        <div class="mb-3">
            <label for="pincode" class="form-label">Pincode</label>
            <input type="number" id="pincode" name="pincode"  class="form-control" value="{{prof.pincode}}" required>
        </div>
        <div class="mb-3">
              <label for="username1" class="form-label">Username</label>
              <input type="username" name="username" class="form-control" id="username1" value="{{username}}" required>
        </div>
        <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="password1" value="{{password}}" required>
        </div> 
        <div class="form-check">
            <input name="check" class="form-check-input" type="checkbox" id="gridCheck" required>
            <label class="form-check-label" for="gridCheck">
            I Aknowledge all the changes I have made on My Profile .
            </label> 
        </div> <br>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit" style="width:100%;"><b> Edit Profile </b></button>
          <br> 
          <a href="/professional/{{username}}" class="btn btn-primary" type="button" style="width:100%;"><b style="color: aliceblue;"> Cancel </b></a>
        </div> 
        {% endif %}
      </form>   
    </div>
</body>
</html> 