<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/ServPro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Welcome, Professional! </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
        <h1 class="case1 center" style="background-color:none; text-align:center;"> <img src="/static/logo.jpeg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"> ServPro </h1>
          <div class="collapse navbar-collapse" id="admn">
            <ul class="nav nav-underline">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/professional/{{username}}">Home</a>
              </li> <b style="font-size: 25px; color:rgb(42, 54, 185)"> | </b>
              <li class="nav-item">
                <a class="nav-link" href="/professional_summary/{{username}}">Analysis</a>
              </li><b style="font-size: 25px; color:rgb(42, 54, 185)"> | </b>
              <li class="nav-item">
                <a class="nav-link" href="/professional_profile/{{prof_id}}/{{username}}">Profile</a>
              </li><b style="font-size: 25px; color:rgb(42, 54, 185)"> | </b>
              <li class="nav-item">
                <a class="nav-link" href="/login">Logout</a>
              </li>
            </ul>  
          </div>
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" action="/professional_search/{{username}}" method="POST">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button type="button" class="btn btn-outline-primary">Search</button>
              </form>
            </div>
          </nav>
        </div>
    </nav><br>
    <h3 style="color:rgb(71, 83, 217); text-align:center; font-style:italic; font-weight: bold;"> Latest Requests </h3>
    <div class="table-responsive">
         {% if service_requests %}
          <table class= "table table-bordered table-sm" style="background-color:rgb(123, 203, 232); text-align: center;">
              <thead>
                  <tr>
                      <th scope="col"> ID</th>
                      <th scope="col" colspan="1"> Customer Name </th>
                      <th scope="col" colspan="3"> Contact Number </th>
                      <th scope="col"> Address</th>
                      <th scope="col"> Pincode</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>   
              {% for request in service_requests %}
              {% if professional.action=="True" %}
              {% if request.action=="Requested" and username not in request.req_rejected %} 
              <tbody>
                  {% for customer in customers %}
                  {% if request.cust_id==customer.cust_id %}
                  <tr>
                  <td> {{request.request_id}}</td>
                  <td colspan="1"> {{customer.fname}} {{customer.lname}} </td>
                  <td colspan="3"> {{customer.phone}} </td>
                  <td> {{customer.address}}</td>
                  <td> {{customer.pincode}}</td>
                  <td>
                      <div class="btn-group" role="group" aria-label="action1">
                        {% if active %}
                             <p style="color:rgb(42, 54, 185); font-size: 20px;"> You are currently working on a service!</p> 
                             <b style="font-size: 25px; color:rgb(42, 54, 185)"> | </b>
                        {% else %}   
                          <a href="/accept/{{request.request_id}}/{{username}}" type="button" class="btn btn-primary">Accept</a>
                        {% endif %}  
                          <a href="/rejected/{{request.request_id}}/{{username}}" type="button" class="btn btn-primary">Reject</a>
                        </div> 
                  </td>                    
              </tr>
              {% endif %}
             {% endfor %} 
          </tbody>
          {% endif %}
          {% else %} 
          {% endif %}
          {% endfor %} 
      </table>
      {% else %}<h3 style="color:rgb(42, 54, 185); text-align: center; font-style: italic; font-weight: bold;"> No Services Requests Available! </h3> 
      {% endif %}
      </div> <br> <hr>
      <div class="table-responsive">  <br>  
    <h3 style="color:rgb(13, 165, 115); text-align: center; font-style: italic; font-weight: bold;"> Closed/Ongoing Services </h3>   
    {% if prof_service_requests %}
    <table class="table table-bordered table-sm center" style="background-color:rgb(8, 166, 239); text-align: center;">
      <thead>
            <tr>
                <th scope="col"> ID</th>
                <th scope="col" colspan="3"> Customer Name </th>
                <th scope="col" colspan="3"> Contact Number </th>
                <th scope="col"> Base Price</th>
                <th scope="col"> Address</th>
                <th scope="col"> Pincode</th>
                <th scope="col"> Request Date</th>
                <th scope="col"> Completion Date</th>
                <th scope="col"> Action</th>
                <th scope="col"> Service Rating</th>
                <th scope="col"> Service Review</th>
                <th scope="col"> Customer Rating</th>
            </tr>
          </thead>
        <tbody>
          {% for request in prof_service_requests %} 
          {% if request.action=="Closed" or request.action=="In Process" %}
            <tr>
                <td> {{request.request_id}}</td>
                {% for customer in customers %} 
                 {% if request.cust_id==customer.cust_id %}
                <td colspan="3"> {{customer.fname}} {{customer.lname}}</td>
                <td colspan="3"> {{customer.phone}} </td>
                <td> {{request.base_price}}</td>
                <td> {{customer.address}}</td>
                <td> {{customer.pincode}}</td>
                <td> {{request.rdate}}</td>
                <td> {{request.cdate}}</td>
                {% endif %}
                {% endfor %} 
                {% if request.action=="Closed" %}
                   <td><a href="/close_1/{{request.request_id}}/{{username}}">{{request.action}}</a></td>
                {% else %}
                  <td>{{request.action}}</td>
                {% endif %}  
                <td> {{request.serv_rating}}</td>
                <td> {{request.serv_review}}</td>
                <td> {{request.cust_rating}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}<br> <h3 style="color:rgb(42, 54, 185); text-align: center; font-style: italic; font-weight: bold;"> No Services History Available! </h3> 
    {% endif %}
    </div>             
</body>
</html>